force-app/main/default/flows/Dynacat_Configurator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>A_Get_SObjects</name>
        <label>Get SObjects</label>
        <locationX>1854</locationX>
        <locationY>242</locationY>
        <actionName>SObjectRetriever_Dynacat</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S_Select_Deployment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>A_Assign_Attribute_Fields</name>
        <label>Assign Attribute Fields</label>
        <locationX>1282</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Attribute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Display_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_AttributeFieldDisplayType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Common_Fields</name>
        <label>Assign Fields</label>
        <locationX>666</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Filter_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Deployment_Fields</name>
        <label>Assign Deployment Fields</label>
        <locationX>1854</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>DeploymentRecord.iconSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Icon_Size</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deployment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Deployment_Record</name>
        <label>Assign Deployment Record</label>
        <locationX>2118</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DeploymentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Deployment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Display_Type</name>
        <label>Assign Display Type</label>
        <locationX>842</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Display_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_List_Display_Type</name>
        <label>Assign List Display Type</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Display_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Filter_Display_Type_LISTS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_New_Deployment_Record</name>
        <label>Assign New Deployment Record</label>
        <locationX>1590</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>DeploymentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_New_Deployment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_New_Filter_Record</name>
        <label>Assign New Filter Record</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilterRecordEmpty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Deployment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeploymentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Display_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Object_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeploymentRecord.Object_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Valid_Picklist_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Attribute_Lookup_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterRecord.Show_Clear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_CreateEdit_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Range_Fields</name>
        <label>Assign Range Fields</label>
        <locationX>578</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Display_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Range</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Additional_Range_Field_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Section_Fields</name>
        <label>Assign Section Fields</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Filter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Section_Heading_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Clear_Values</name>
        <label>Clear Values</label>
        <locationX>666</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>ValidPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedFilterAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filter_Name</name>
        <label>Assign Filter Name</label>
        <locationX>534</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>FilterRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilterNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_FilterRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_DisplayTypes_Checkbox</name>
        <choiceText>Checkbox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checkbox</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DisplayTypes_Date</name>
        <choiceText>Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DisplayTypes_Multiselect</name>
        <choiceText>Multi-Select Picklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi-Select Picklist</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DisplayTypes_Picklist</name>
        <choiceText>Picklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Picklist</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DisplayTypes_Radio</name>
        <choiceText>Radio Button</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radio Button</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DisplayTypes_Range</name>
        <choiceText>Range</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Range</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_FilterTypes_Attribute</name>
        <choiceText>Attribute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attribute</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_FilterTypes_Field</name>
        <choiceText>Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Field</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_FilterTypes_Section</name>
        <choiceText>Section</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Large</name>
        <choiceText>Large</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>large</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Small</name>
        <choiceText>Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_XSmall</name>
        <choiceText>X-Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>x-small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_XXSmall</name>
        <choiceText>XX-Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>xx-small</stringValue>
        </value>
    </choices>
    <decisions>
        <name>D_Action_Type</name>
        <label>Action Type</label>
        <locationX>1854</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Deployments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>O_Create_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFilterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_New_Filter_Record</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>O_Edit_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFilterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>S_CreateEdit_Filter</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>O_Delete_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFilterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_Delete_Filter</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>O_Delete_Deployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Deployment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Filters</targetReference>
            </connector>
            <label>Delete Deployment</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Create_Filter</name>
        <label>Create Filter</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>UR_Update_Filter_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Filter</defaultConnectorLabel>
        <rules>
            <name>O_Create_Filter2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFilterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Filter_Name</targetReference>
            </connector>
            <label>Create Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Custom_Footer_Action</name>
        <label>Custom Footer Action</label>
        <locationX>1106</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Deployment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>O_Save_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customFooterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Common_Fields</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Field_Type</name>
        <label>Field Type</label>
        <locationX>710</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>D_Create_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O_FieldType_List</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PICKLIST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MULTIPICKLIST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOOLEAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Additional_List_Field_Settings</targetReference>
            </connector>
            <label>List</label>
        </rules>
        <rules>
            <name>O_FieldType_Number</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOUBLE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTEGER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENCY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERCENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Range_Fields</targetReference>
            </connector>
            <label>Number</label>
        </rules>
        <rules>
            <name>O_FieldType_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DATE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DATETIME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Display_Type</targetReference>
            </connector>
            <label>Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Filter_Type</name>
        <label>Filter Type</label>
        <locationX>666</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>A_Assign_Attribute_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Attribute</defaultConnectorLabel>
        <rules>
            <name>O_FilterType_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_FilterTypes_Section</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Section_Fields</targetReference>
            </connector>
            <label>Section</label>
        </rules>
        <rules>
            <name>O_FilterType_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_FilterTypes_Field</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_Field_Type</targetReference>
            </connector>
            <label>Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_New_Deployment_Selected</name>
        <label>New Deployment Selected</label>
        <locationX>1854</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GR_Get_Deployment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Existing Deployment Selected</defaultConnectorLabel>
        <rules>
            <name>O_Yes_New_Deployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_Deployments_Picker.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createNew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_New_Deployment</targetReference>
            </connector>
            <label>Yes - Create New Deployment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CC_SObjects</name>
        <collectionReference>A_Get_SObjects.sobjects</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CR_AttributeRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Root_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Dynacat_Attribute__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Number__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FilterNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT( {!DeploymentRecord.Object_API_Name__c} + &apos;-&apos; + {!FilterRecord.Name__c} + &apos;-&apos; +TEXT(( {!$Flow.CurrentDateTime} - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; ))),35)+&apos;X&apos;</expression>
    </formulas>
    <interviewLabel>Dynacat Configurator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynacat Configurator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CR_Create_Deployment</name>
        <label>Create Deployment</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>GR_Get_New_Deployment_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Create_Deployment_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IT_DeploymentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_API_Name__c</field>
            <value>
                <elementReference>IP_SObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>ITA_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Dynacat_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_FilterRecord</name>
        <label>Create FilterRecord</label>
        <locationX>534</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>A_Clear_Values</targetReference>
        </connector>
        <inputReference>FilterRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Filters</name>
        <label>Delete Filters</label>
        <locationX>2338</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>DR_Delete_Deployment</targetReference>
        </connector>
        <inputReference>GR_Get_Filters</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DR_Delete_Deployment</name>
        <label>Delete Deployment</label>
        <locationX>2338</locationX>
        <locationY>1646</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Deployments</targetReference>
        </connector>
        <inputReference>DeploymentRecord</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DR_Delete_Filter</name>
        <label>Delete Filter</label>
        <locationX>2074</locationX>
        <locationY>1538</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Filters</targetReference>
        </connector>
        <inputReference>FilterRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GR_Get_Deployment_Record</name>
        <label>Get Deployment</label>
        <locationX>2118</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Assign_Deployment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LWC_Deployments_Picker.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dynacat_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Deployments</name>
        <label>Get Deployments</label>
        <locationX>1854</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Get_SObjects</targetReference>
        </connector>
        <object>Dynacat_Deployment__c</object>
        <outputReference>DeploymentRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Filters</name>
        <label>Get Filters</label>
        <locationX>2118</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Filters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deployment_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeploymentRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dynacat_Filter__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_New_Deployment_Record</name>
        <label>Get New Deployment Record</label>
        <locationX>1590</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Assign_New_Deployment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CR_Create_Deployment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dynacat_Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deployment_Record</name>
        <label>Update Deployment Record</label>
        <locationX>1854</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>D_Action_Type</targetReference>
        </connector>
        <inputReference>DeploymentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UR_Update_Filter_Record</name>
        <label>Update Filter Record</label>
        <locationX>798</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>A_Clear_Values</targetReference>
        </connector>
        <inputReference>FilterRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>S_Additional_List_Field_Settings</name>
        <label>Additional List Field Settings</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>A_Assign_List_Display_Type</targetReference>
        </connector>
        <fields>
            <name>DT_Additional_List_Field_Settings_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select how this filter should be displayed - as checkboxes, radio buttons, a picklist, or a multi-select picklist.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Additional_List_Field_Settings_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Additional_List_Field_Settings_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Filter_Display_Type_LISTS</name>
                    <choiceReferences>C_DisplayTypes_Checkbox</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Radio</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Picklist</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Multiselect</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterRecord.Display_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Filter Display Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Restrict_Picklist_Values</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Restrict Picklist Values</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PICKLIST,MULTIPICKLIST</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Additional_List_Field_Settings_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Valid_Picklist_Values__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PICKLIST,MULTIPICKLIST</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Restrict_Picklist_Values</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>FilterRecord.Valid_Picklist_Values__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>FilterRecord.Valid_Picklist_Values__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Checked_Label__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BOOLEAN</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Unchecked_Label__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>FilterRecord.Field_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BOOLEAN</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Additional_Range_Field_Settings</name>
        <label>Additional Range Field Settings</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_Create_Filter</targetReference>
        </connector>
        <fields>
            <name>DT_Additional_Range_Field_Settings_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter the minimum and maximum values for the range / slider.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Additional_Range_Field_Settings_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Additional_Range_Field_Settings_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Min__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Additional_Range_Field_Settings_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Max__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Create_Deployment_Error</name>
        <label>Create Deployment Error</label>
        <locationX>1854</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Create_Deployment_Error</name>
            <fieldText>&lt;p&gt;There was an error creating the deployment record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Was the Deployment Name unique?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_CreateEdit_Filter</name>
        <label>Create/Edit Filter</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_Custom_Footer_Action</targetReference>
        </connector>
        <fields>
            <name>DT_CreateEdit_Filter_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter the details about the filter:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>FilterRecord.Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>FilterRecord.Order__c</objectFieldReference>
        </fields>
        <fields>
            <name>IP_Type</name>
            <choiceReferences>C_FilterTypes_Section</choiceReferences>
            <choiceReferences>C_FilterTypes_Field</choiceReferences>
            <choiceReferences>C_FilterTypes_Attribute</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FilterRecord.Type__c</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_Heading</name>
            <fieldText>Section Heading</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Heading_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IT_Section_Heading_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterRecord.Filter__c</elementReference>
                    </defaultValue>
                    <fieldText>Section Heading Text</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_FilterTypes_Section</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Field_Filter</name>
            <fieldText>Field Filter</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_Filter_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_FieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FilterRecord.Filter__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>finalSObject</name>
                        <value>
                            <elementReference>FilterRecord.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>DeploymentRecord.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,PICKLIST,MULTIPICKLIST,BOOLEAN,DOUBLE,INTEGER,CURRENCY,PERCENT,DATE,DATETIME,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Field to Filter By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the field that you wish to use as a filter</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FilterRecord.Filter__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>FilterRecord.Object_API_Name__c</assignToReference>
                        <name>finalSObject</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ValidPicklistValues</assignToReference>
                        <name>picklistValues</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>FilterRecord.Field_Type__c</assignToReference>
                        <name>fieldType</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Show_Clear__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_FilterTypes_Field</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attribute_Filter</name>
            <fieldText>Attribute Filter</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute_Filter_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Attribute</name>
                    <choiceReferences>CR_AttributeRecords</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterRecord.Filter__c</elementReference>
                    </defaultValue>
                    <fieldText>Attribute</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IP_AttributeFieldDisplayType</name>
                    <choiceReferences>C_DisplayTypes_Checkbox</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Radio</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Picklist</choiceReferences>
                    <choiceReferences>C_DisplayTypes_Multiselect</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FilterRecord.Display_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Field Display Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LWC_LookupFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FilterRecord.Attribute_Lookup_Field_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>finalSObject</name>
                        <value>
                            <stringValue>Dynacat_Record_Attribute__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>ignoreRelationships</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <stringValue>Dynacat_Record_Attribute__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Attribute Lookup Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the Lookup field on the Record Attribute object that references the target object.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FilterRecord.Attribute_Lookup_Field_Name__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FilterRecord.Show_Clear__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_FilterTypes_Attribute</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LWC_CustomFooter</name>
            <extensionName>c:customFooterTilewall</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customFooterAction</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Filters</name>
        <label>Filters</label>
        <locationX>1854</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>A_Assign_Deployment_Fields</targetReference>
        </connector>
        <fields>
            <name>Deployment_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Deployment Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DeploymentRecord.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Deployment_Name_Warning</name>
            <fieldText>&lt;p&gt;(Deployment name must be unique)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DeploymentRecord.Summary__c</objectFieldReference>
        </fields>
        <fields>
            <name>S_Filters_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Filters_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>DeploymentRecord.iconName__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Filters_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Icon_Size</name>
                    <choiceReferences>C_XXSmall</choiceReferences>
                    <choiceReferences>C_XSmall</choiceReferences>
                    <choiceReferences>C_Small</choiceReferences>
                    <choiceReferences>C_Medium</choiceReferences>
                    <choiceReferences>C_Large</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DeploymentRecord.iconSize__c</elementReference>
                    </defaultValue>
                    <fieldText>Icon Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DeploymentRecord.iconName__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DeploymentRecord.Show_Clear_All_Filters_Button__c</objectFieldReference>
        </fields>
        <fields>
            <name>Deployment_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Object:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!DeploymentRecord.Object_API_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;(Object name can&apos;t be changed for an existing Deployment)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;If you wish to delete this deployment and all the configured filters, then select the Toggle below and click Save.  &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;This can&apos;t be undone.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delete_Deployment</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Delete This Deployment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No Way!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Filters_Intro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Filters:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Filters_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create a new filter for your deployment, or edit your existing filters:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC_Filters_Datatable</name>
            <extensionName>c:dynacatConfigFiltersDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dynacatFilters</name>
                <value>
                    <elementReference>GR_Get_Filters</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sections, Filters &amp; Attributes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedFilterAction</assignToReference>
                <name>action</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FilterRecord</assignToReference>
                <name>selectedRecord</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DT_Filters_Footer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once you&apos;re done editing, you can close this tab or navigate away from this page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_New_Deployment</name>
        <label>New Deployment</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CR_Create_Deployment</targetReference>
        </connector>
        <fields>
            <name>DT_New_Deployment_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter the required details for your new deployment:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IT_DeploymentName</name>
            <dataType>String</dataType>
            <fieldText>Deployment Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DT_Warning_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Deployment Name&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;must&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;be unique or there will be an error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ITA_Summary</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IP_SObject</name>
            <choiceReferences>CC_SObjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Select_Deployment</name>
        <label>Select Deployment</label>
        <locationX>1854</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_New_Deployment_Selected</targetReference>
        </connector>
        <fields>
            <name>DT_Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use this configurator to create a new Dynacat filters deployment, or to modify an existing one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Select_Deployment_Intro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select from your existing deployments or create a new one:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC_Deployments_Picker</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Dynacat_Deployment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:visualPickerDynacat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>DeploymentRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>summaryField</name>
                <value>
                    <stringValue>Summary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewText</name>
                <value>
                    <stringValue>+ Create New Deployment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR_Get_Deployments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customFooterAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeploymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dynacat_Deployment__c</objectType>
    </variables>
    <variables>
        <name>DeploymentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dynacat_Deployment__c</objectType>
    </variables>
    <variables>
        <name>FilterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dynacat_Filter__c</objectType>
    </variables>
    <variables>
        <name>FilterRecordEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dynacat_Filter__c</objectType>
    </variables>
    <variables>
        <description>create, edit, or delete</description>
        <name>SelectedFilterAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
