force-app/main/default/flows/Tile_Wall_Configurator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AA_Get_SObjects</name>
        <label>Get SObjects</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <actionName>SObjectRetriever_Tilewall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S_Select_Configuration</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>A_Assign_Badge_Specific_Fields</name>
        <label>Assign Badge-Specific Fields</label>
        <locationX>314</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord.label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Field_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Config_Screen_Values</name>
        <label>Assign Config Screen Values</label>
        <locationX>666</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.fieldStyle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Field_Label_Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.columnsLarge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Tiles_per_Row_Desktop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.columnsMedium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Tiles_per_Row_Tablet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.columnsSmall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Tiles_per_Row_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.heightOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Tile_Heights</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.titleSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Title_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.titleAlign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Title_Alignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.titleTextCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Title_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.showMedia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Show_Media</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.mediaFormat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Media_Format</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.mediaSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Media_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.orderByDirection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Order_By_Direction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.useAdvancedOrdering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IC_Use_Advanced_Ordering</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GR_Get_Configuration.iconSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Icon_Size</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UR_Update_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Configuration_Id</name>
        <label>Assign Configuration Id</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_Configurations_Picker.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Field_Record</name>
        <label>Assign Field Record</label>
        <locationX>270</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LWC_FieldsBadgesDatatable.selectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_CreateEdit_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Field_Screen_Values</name>
        <label>Assign Field Values</label>
        <locationX>402</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord.type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Field_Text_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.align__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Field_Text_Alignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.textCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Text_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Field_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign fields specific to the Field type.
 * Label (over-rides standard)</description>
        <name>A_Assign_Field_Specific_Fields</name>
        <label>Assign Field-Specific Fields</label>
        <locationX>50</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord.label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Create_Field_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_New_Field_Values</name>
        <label>Assign New Field Values</label>
        <locationX>798</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord.Config_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Configuration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.labelColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.apiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.colorFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.bgColorFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.labelColorFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.labelBgColorFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_BodyRegular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.align__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_Left</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.textCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_Default</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.bgColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.labelBgColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.badgeIcon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.badgeIconFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.showActionFieldname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.actionVar1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.actionVar2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.actionVar3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldRecord.label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_CreateEdit_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_Variable</name>
        <label>Assign Name Variable</label>
        <locationX>138</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FieldNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_Field_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_FieldRecord</name>
        <label>Assign New FieldRecord</label>
        <locationX>798</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>FieldRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FieldRecordEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_Assign_New_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Values</name>
        <label>Clear Values</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>customFooterAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>C_Action</name>
        <choiceText>Action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>action</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_ASC</name>
        <choiceText>Ascending (A - Z)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Badge</name>
        <choiceText>Badge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>badge</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_BodyRegular</name>
        <choiceText>slds-text-body_regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>body_regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_BodySmall</name>
        <choiceText>slds-text-body_small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>body_small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Center</name>
        <choiceText>Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>center</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Circle</name>
        <choiceText>Circle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>circle</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Default</name>
        <choiceText>Default (as it comes)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>default</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_DESC</name>
        <choiceText>Descending (Z - A)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DESC</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Field</name>
        <choiceText>Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>field</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Fixed</name>
        <choiceText>Fixed Height (px or %)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fixed</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_HeadingLarge</name>
        <choiceText>slds-text-heading_large</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>heading_large</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_HeadingMedium</name>
        <choiceText>slds-text-heading_medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>heading_medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_HeadingSmall</name>
        <choiceText>slds-text-heading_small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>heading_small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Horizontal</name>
        <choiceText>Horizontal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>horizontal</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Icon</name>
        <choiceText>Icon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>icon</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Image</name>
        <choiceText>Image</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>image</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Individual</name>
        <choiceText>Individual Heights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Large</name>
        <choiceText>Large</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>large</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Left</name>
        <choiceText>Left</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>left</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Lowercase</name>
        <choiceText>Lowercase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lowercase</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_MaxRow</name>
        <choiceText>Max Row Height</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>max-row</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>C_Right</name>
        <choiceText>Right</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>right</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Small</name>
        <choiceText>Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Square</name>
        <choiceText>Square</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>square</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Stacked</name>
        <choiceText>Stacked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>stacked</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Uppercase</name>
        <choiceText>Uppercase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>uppercase</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_XSmall</name>
        <choiceText>X-Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>x-small</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_XXSmall</name>
        <choiceText>XX-Small</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>xx-small</stringValue>
        </value>
    </choices>
    <decisions>
        <name>D_Create_Field_Record</name>
        <label>Create Field Record</label>
        <locationX>402</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>UR_Update_Field_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Field</defaultConnectorLabel>
        <rules>
            <name>O_Create_Field1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_FieldsBadgesDatatable.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_Variable</targetReference>
            </connector>
            <label>Create Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Custom_Footer_Action</name>
        <label>Custom Footer Action</label>
        <locationX>666</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>O_Save_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customFooterAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Field_Screen_Values</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Field_Action</name>
        <label>Field Action</label>
        <locationX>666</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Configurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>O_Edit_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_FieldsBadgesDatatable.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Field_Record</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>O_Delete_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_FieldsBadgesDatatable.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_Delete_Field</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>O_Create_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_FieldsBadgesDatatable.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_FieldRecord</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Field_Type</name>
        <label>Field Type</label>
        <locationX>402</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>D_Create_Field_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Field</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Field_Specific_Fields</targetReference>
            </connector>
            <label>Field</label>
        </rules>
        <rules>
            <name>O_Badge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Badge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Badge_Specific_Fields</targetReference>
            </connector>
            <label>Badge</label>
        </rules>
        <rules>
            <name>O_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IP_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>C_Action</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_Create_Field_Record</targetReference>
            </connector>
            <label>Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_New_Configuration_Selected</name>
        <label>New Configuration Selected</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>A_Assign_Configuration_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Existing Configuration Selected</defaultConnectorLabel>
        <rules>
            <name>O_Yes_New_Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC_Configurations_Picker.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createNew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_New_Configuration_Screen</targetReference>
            </connector>
            <label>Yes - New Configuration</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CC_SObjects</name>
        <collectionReference>AA_Get_SObjects.sobjects</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FieldNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT( {!GR_Get_Configuration.Object_API_Name__c} + &apos;-&apos; + {!FieldRecord.Name__c} + &apos;-&apos; +TEXT(( {!$Flow.CurrentDateTime} - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; ))),35)+&apos;X&apos;</expression>
    </formulas>
    <interviewLabel>Tile Wall Configurator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tile Wall Configurator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CR_Create_Configuration</name>
        <label>Create Configuration</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>ConfigurationId</assignRecordIdToReference>
        <connector>
            <targetReference>GR_Get_Configuration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Create_Config_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IT_NewConfigurationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_API_Name__c</field>
            <value>
                <elementReference>IP_NewSObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>ITA_NewSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Tilewall_Config__c</object>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Field_Record</name>
        <label>Create Field Record</label>
        <locationX>138</locationX>
        <locationY>3002</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Configuration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>FieldRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DR_Delete_Field</name>
        <label>Delete Field</label>
        <locationX>534</locationX>
        <locationY>1862</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Configuration</targetReference>
        </connector>
        <inputReference>LWC_FieldsBadgesDatatable.selectedRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GR_Get_Configuration</name>
        <label>Get Configuration</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfigurationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tilewall_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Configurations</name>
        <label>Get Configurations</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AA_Get_SObjects</targetReference>
        </connector>
        <object>Tilewall_Config__c</object>
        <outputReference>ConfigurationRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Fields</name>
        <label>Get Fields</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Configuration_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Config_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfigurationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tilewall_Field__c</object>
        <sortField>order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UR_Update_Configuration</name>
        <label>Update Configuration</label>
        <locationX>666</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>D_Field_Action</targetReference>
        </connector>
        <inputReference>GR_Get_Configuration</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UR_Update_Field_Record</name>
        <label>Update Field Record</label>
        <locationX>666</locationX>
        <locationY>2894</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Configuration</targetReference>
        </connector>
        <inputReference>FieldRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>S_Configuration_Details</name>
        <label>Configuration Details</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>A_Assign_Config_Screen_Values</targetReference>
        </connector>
        <fields>
            <name>S_Configuration_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.Summary__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_TileWall_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Tile Wall Configuration:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.title__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.iconName__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GR_Get_Configuration.title__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IP_Icon_Size</name>
                    <choiceReferences>C_XXSmall</choiceReferences>
                    <choiceReferences>C_XSmall</choiceReferences>
                    <choiceReferences>C_Small</choiceReferences>
                    <choiceReferences>C_Medium</choiceReferences>
                    <choiceReferences>C_Large</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.iconSize__c</elementReference>
                    </defaultValue>
                    <fieldText>Icon Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GR_Get_Configuration.title__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.displayCount__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GR_Get_Configuration.title__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.allowSearch__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.searchLabel__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GR_Get_Configuration.allowSearch__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.noResultsText__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GR_Get_Configuration.allowSearch__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IC_Use_Advanced_Ordering</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.useAdvancedOrdering__c</elementReference>
                    </defaultValue>
                    <fieldText>Use Advanced Ordering</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Use when you need to order by multiple fields.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;Advanced Ordering removes the simple field picker and allows you to enter a SOQL-style ORDER BY clause.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_OrderByFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>GR_Get_Configuration.orderByFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Order By Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the field to order by. Use Advanced Ordering if you need to order by more than one field.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,ANYTYPE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.orderByFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IC_Use_Advanced_Ordering</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IP_Order_By_Direction</name>
                    <choiceReferences>C_ASC</choiceReferences>
                    <choiceReferences>C_DESC</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.orderByDirection__c</elementReference>
                    </defaultValue>
                    <fieldText>Order By Direction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IC_Use_Advanced_Ordering</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.orderBy__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IC_Use_Advanced_Ordering</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.limitResults__c</objectFieldReference>
                </fields>
                <fields>
                    <name>IP_Tiles_per_Row_Desktop</name>
                    <choiceReferences>C_1</choiceReferences>
                    <choiceReferences>C_2</choiceReferences>
                    <choiceReferences>C_3</choiceReferences>
                    <choiceReferences>C_4</choiceReferences>
                    <choiceReferences>C_6</choiceReferences>
                    <choiceReferences>C_12</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.columnsLarge__c</elementReference>
                    </defaultValue>
                    <fieldText>Tiles per Row (Desktop)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>IP_Tiles_per_Row_Tablet</name>
                    <choiceReferences>C_1</choiceReferences>
                    <choiceReferences>C_2</choiceReferences>
                    <choiceReferences>C_3</choiceReferences>
                    <choiceReferences>C_4</choiceReferences>
                    <choiceReferences>C_6</choiceReferences>
                    <choiceReferences>C_12</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.columnsMedium__c</elementReference>
                    </defaultValue>
                    <fieldText>Tiles per Row (Tablet)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>IP_Tiles_per_Row_Mobile</name>
                    <choiceReferences>C_1</choiceReferences>
                    <choiceReferences>C_2</choiceReferences>
                    <choiceReferences>C_3</choiceReferences>
                    <choiceReferences>C_4</choiceReferences>
                    <choiceReferences>C_6</choiceReferences>
                    <choiceReferences>C_12</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.columnsSmall__c</elementReference>
                    </defaultValue>
                    <fieldText>Tiles per Row (Mobile)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_BGColorPicker</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GR_Get_Configuration.backgroundColor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tile Wall Background Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Background color for the overall Tile Wall component</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.backgroundColor__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>IP_Tile_Heights</name>
                    <choiceReferences>C_MaxRow</choiceReferences>
                    <choiceReferences>C_Fixed</choiceReferences>
                    <choiceReferences>C_Individual</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.heightOption__c</elementReference>
                    </defaultValue>
                    <fieldText>Tile Heights</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Sets the height of the tiles in the Tile Wall.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Max-Row&lt;/strong&gt;: Every tile in a row will be the height of the tallest tile in that row;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fixed&lt;/strong&gt;: Fixed at specified height;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Individual&lt;/strong&gt;: Each tile sized to fit content.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.fixedHeight__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Tile_Heights</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>C_Fixed</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Tile_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Tile Configuration:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_TitlePicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>GR_Get_Configuration.titleName__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Tile Title Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the field that will be used as the title for the tile.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.titleName__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Title_Size</name>
                    <choiceReferences>C_BodyRegular</choiceReferences>
                    <choiceReferences>C_BodySmall</choiceReferences>
                    <choiceReferences>C_HeadingLarge</choiceReferences>
                    <choiceReferences>C_HeadingMedium</choiceReferences>
                    <choiceReferences>C_HeadingSmall</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.titleSize__c</elementReference>
                    </defaultValue>
                    <fieldText>Title Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Text size style for the title.&lt;/p&gt;&lt;p&gt;Google &lt;strong&gt;slds text&lt;/strong&gt; for examples of each style.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IP_Title_Alignment</name>
                    <choiceReferences>C_Left</choiceReferences>
                    <choiceReferences>C_Center</choiceReferences>
                    <choiceReferences>C_Right</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.titleAlign__c</elementReference>
                    </defaultValue>
                    <fieldText>Title Alignment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IP_Title_Case</name>
                    <choiceReferences>C_Default</choiceReferences>
                    <choiceReferences>C_Uppercase</choiceReferences>
                    <choiceReferences>C_Lowercase</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.titleTextCase__c</elementReference>
                    </defaultValue>
                    <fieldText>Title Case</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Media_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Media:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Show_Media</name>
                    <choiceReferences>C_None</choiceReferences>
                    <choiceReferences>C_Icon</choiceReferences>
                    <choiceReferences>C_Image</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.showMedia__c</elementReference>
                    </defaultValue>
                    <fieldText>Show Media</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IP_Media_Size</name>
                    <choiceReferences>C_XSmall</choiceReferences>
                    <choiceReferences>C_Small</choiceReferences>
                    <choiceReferences>C_Medium</choiceReferences>
                    <choiceReferences>C_Large</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.mediaSize__c</elementReference>
                    </defaultValue>
                    <fieldText>Media Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IP_Media_Format</name>
                    <choiceReferences>C_Default</choiceReferences>
                    <choiceReferences>C_Circle</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.mediaFormat__c</elementReference>
                    </defaultValue>
                    <fieldText>Media Format</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Whether to attempt to crop the media into a circle.  This only works well for &lt;strong&gt;square&lt;/strong&gt; images, or for icons.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.media__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LWC_MediaFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>GR_Get_Configuration.mediaFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Media Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the field that contains the icon name or image Url for this tile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,URL,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.mediaFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IP_Show_Media</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Color_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Background:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_TileBGColor</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GR_Get_Configuration.color__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tile Background Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Background color for each individual tile. 6-character HEX format (eg #FFFFFF) MUST be used if opacity is specified.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.color__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>LWC_BGColorFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>GR_Get_Configuration.colorFieldName__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,TEXTAREA,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Tile Background Color Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>API Name of a record field that provides the background color for the tile, eg. through a formula. 6-char HEX format (eg #FFFFFF) MUST be used by this field if opacity is specified.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.colorFieldName__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.opacity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.imageURL__c</objectFieldReference>
                </fields>
                <fields>
                    <name>LWC_BGImageFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>GR_Get_Configuration.imageFieldName__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,TEXTAREA,URL,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Tile Background Image Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>API Name of a record field that provides the URL for that tile&apos;s background, eg. through a formula field. Make sure the site hosting the image is added to CSP Trusted Sites if this component is used in Experience Cloud.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>GR_Get_Configuration.imageFieldName__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DT_Field_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Field &amp;amp; Badge Configuration:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Configuration_Details_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Configuration_Details_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Field_Label_Style</name>
                    <choiceReferences>C_Stacked</choiceReferences>
                    <choiceReferences>C_Horizontal</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR_Get_Configuration.fieldStyle__c</elementReference>
                    </defaultValue>
                    <fieldText>Field Label Style</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;Stacked:&lt;/strong&gt; Field labels are displayed above the field values&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Horizontal:&lt;/strong&gt; Field labels are displayed to the left of the field values&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Configuration_Details_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GR_Get_Configuration.padding__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LWC_FieldsBadgesDatatable</name>
            <extensionName>c:tilewallFieldsDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tilewallFields</name>
                <value>
                    <elementReference>GR_Get_Fields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fields, Badges &amp; Actions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Create_Config_Failed</name>
        <label>Create Config Failed</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Config_Fail_Intro</name>
            <fieldText>&lt;p&gt;The configuration record couldn&apos;t be created.  &lt;strong&gt;Was the name unique?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_CreateEdit_Field</name>
        <label>Create / Edit Field</label>
        <locationX>666</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_Custom_Footer_Action</targetReference>
        </connector>
        <fields>
            <name>DT_CreateEdit_Field_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Enter the details about the field, badge, or action:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Type</name>
                    <choiceReferences>C_Field</choiceReferences>
                    <choiceReferences>C_Badge</choiceReferences>
                    <choiceReferences>C_Action</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FieldRecord.type__c</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.order__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_FieldApiNamePicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.apiName__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Field to Display</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select the field to display</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.apiName__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IT_Label</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FieldRecord.label__c</elementReference>
                    </defaultValue>
                    <fieldText>Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(3, 45, 96);&quot;&gt;Optional label for this field. If omitted, the value will take up the full space.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IP_Field_Text_Size</name>
                    <choiceReferences>C_BodyRegular</choiceReferences>
                    <choiceReferences>C_BodySmall</choiceReferences>
                    <choiceReferences>C_HeadingLarge</choiceReferences>
                    <choiceReferences>C_HeadingMedium</choiceReferences>
                    <choiceReferences>C_HeadingSmall</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FieldRecord.size__c</elementReference>
                    </defaultValue>
                    <fieldText>Field Text Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Text size style for the title.&lt;/p&gt;&lt;p&gt;Google &lt;strong&gt;slds text&lt;/strong&gt; for examples of each style.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>C_Field</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IP_Field_Text_Alignment</name>
                    <choiceReferences>C_Left</choiceReferences>
                    <choiceReferences>C_Center</choiceReferences>
                    <choiceReferences>C_Right</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FieldRecord.align__c</elementReference>
                    </defaultValue>
                    <fieldText>Field Text Alignment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>C_Field</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IP_Text_Case</name>
                    <choiceReferences>C_Default</choiceReferences>
                    <choiceReferences>C_Uppercase</choiceReferences>
                    <choiceReferences>C_Lowercase</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FieldRecord.textCase__c</elementReference>
                    </defaultValue>
                    <fieldText>Text Case</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IP_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>C_Field</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>C_Action</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Badge_Icon_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Badge Icon:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Badge</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.badgeIcon__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_BadgeIconFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.badgeIconFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Badge Icon Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select a field that specifies the icon for the badge.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.badgeIconFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Badge</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Field_Color_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Text &amp;amp; Background Colours:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>C_Action</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_ValueColorPicker</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FieldRecord.color__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Text Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.color__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>LWC_ValueColorFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.colorFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Text Color Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select a field - a formula field works well - that stores the hex (eg. #FFFFFF) text colour value for this field/badge.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.colorFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_ValueBGColorPicker</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FieldRecord.bgColor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Background Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.bgColor__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>LWC_ValueBGColorFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.bgColorFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Background Color Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select a field - a formula field works well - that stores the hex (eg. #FFFFFF) background colour value for this field/badge.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.bgColorFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>C_Action</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Labels_Intro_Field</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Label Text &amp;amp; Background Colours:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Field</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IT_Label</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IT_Label</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_LabelColorPicker</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FieldRecord.labelColor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Label Text Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.labelColor__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>LWC_LabelColorFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.labelColorFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Label Text Color Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select a field - a formula field works well - that stores the hex (eg. #FFFFFF) text colour value for this label.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.labelColorFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LWC_LabelBGColorPicker</name>
                    <extensionName>c:colorPicker_Tilewall</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FieldRecord.labelBgColor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Label Background Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.labelBgColor__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>LWC_LabelBGColorFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.labelBgColorFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Label Background Color Fieldname</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Select a field - a formula field works well - that stores the hex (eg. #FFFFFF) background colour value for this label.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,STRING,PICKLIST,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.labelBgColorFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Field</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IT_Label</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IT_Label</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Action_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Action Flow Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Action</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_CreateEdit_Field_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_CreateEdit_Field_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.flow__c</objectFieldReference>
                </fields>
                <fields>
                    <name>LWC_ShowActionFieldPicker</name>
                    <extensionName>c:objectFieldPickerDynacat</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disableObjectPicker</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>border</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field</name>
                        <value>
                            <elementReference>FieldRecord.showActionFieldname__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Show Action Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideObjectPicker</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rootSObject</name>
                        <value>
                            <elementReference>GR_Get_Configuration.Object_API_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltip</name>
                        <value>
                            <stringValue>Reference to a Boolean field (eg. Formula, Checkbox) that determines whether this action should be displayed on a tile or not.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldTypes</name>
                        <value>
                            <stringValue>REFERENCE,BOOLEAN,CALCULATED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>FieldRecord.showActionFieldname__c</assignToReference>
                        <name>field</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_CreateEdit_Field_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.label__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.actionVar1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.actionVar2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FieldRecord.actionVar3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IP_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>C_Action</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LWC_CustomFooter</name>
            <extensionName>c:customFooterTilewall</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customFooterAction</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Error_Screen</name>
        <label>Error Screen</label>
        <locationX>402</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Error_Text</name>
            <fieldText>&lt;p&gt;Uh Oh!  Something&apos;s gone wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Could this Field have the same name as another one?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_New_Configuration_Screen</name>
        <label>New Configuration Screen</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CR_Create_Configuration</targetReference>
        </connector>
        <fields>
            <name>DT_New_Config_Intro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the required details for your new configuration:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IT_NewConfigurationName</name>
            <dataType>String</dataType>
            <fieldText>Configuration Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT_Warning</name>
            <fieldText>&lt;p&gt;The Configuration Name &lt;strong&gt;must&lt;/strong&gt; be unique or there will be an error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ITA_NewSummary</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IP_NewSObject</name>
            <choiceReferences>CC_SObjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Select_Configuration</name>
        <label>Select Configuration</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_New_Configuration_Selected</targetReference>
        </connector>
        <fields>
            <name>DT_Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Use this configurator to create a new Tile Wall configuration, or to modify an existing one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Select_Configuration_Intro</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select from your existing configurations or create a new one:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC_Configurations_Picker</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Tilewall_Config__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:visualPickerDynacat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>ConfigurationRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>summaryField</name>
                <value>
                    <stringValue>Summary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:tile_card_list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewText</name>
                <value>
                    <stringValue>+ Create New Configuration</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR_Get_Configurations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfigurationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConfigurationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tilewall_Config__c</objectType>
    </variables>
    <variables>
        <name>customFooterAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tilewall_Field__c</objectType>
    </variables>
    <variables>
        <name>FieldRecordEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tilewall_Field__c</objectType>
    </variables>
</Flow>
